// Oscillo Strix's Colors
$oscii--color1: #dca978;
$oscii--color2: #f3f0dc;
$oscii--color3: #89623d;
$oscii--color4: #00a879;
$oscii--color5: #ffe002;
$oscii--color6: #e38d37;
$oscii--color7: #1b603d;
$oscii--color8: #063a20;

// Oscillo Strix's Main Outfit Colors (Beanie with Camo Hoodie)
$oscii--beanie1: #585551;
$oscii--beanie2: #ffffff;
$oscii--camo1: #384941;
$oscii--camo2: #5f5345;
$oscii--camo3: #9c8f6f;
$oscii--camo4: #393d3c;

// Oscillo Strix's Alt Outfit Colors (Letterman Open Hoodie)
$oscii--letterman1: #2cbd95;
$oscii--letterman2: #256956;
$oscii--letterman3: #7cea48;
$oscii--letterman4: #ffffff;

// Oscillo Strix's Winter Outfit
$oscii--winter1: #ab826c;
$oscii--winter2: #99755f;
$oscii--winter3: #7b695d;
$oscii--winter4: #dbdbdb;
$oscii--winter5: #fdedb1;
$oscii--winter6: #9bc6cd;
$oscii--winter7: #575757;

// SnowTrap's Colors
$snowtrap--color1: #d1fffe;
$snowtrap--color2: #6fe6fa;
$snowtrap--color3: #62d463;
$snowtrap--color4: #ff9a50;
$snowtrap--color5: #ffeea6;
$snowtrap--color6: #ff6b26;
$snowtrap--color7: #03147c;

// Signature Site Colors (v4.2)
$signature--orange: #ff9800;
$bkg--dark: #1e1e1e;

// PKMN Home Type Colors
$home: (
	dragon: #0c69c8,
	ghost: #5f6dbc,
	ground: #da7c4d,
	flying: #a1bbec,
	poison: #b763cf,
	bug: #92bc2c,
	water: #539ddf,
	electric: #f2d94e,
	rock: #c9bb8a,
	grass: #5fbd58,
	dark: #595761,
	ice: #75d0c1,
	normal: #a0a29f,
	fire: #fba54c,
	fighting: #d3425f,
	steel: #5695ac,
	psychic: #fa8581,
	fairy: #ee90e6,
);
// $home--dragon: #0c69c8;
// $home--ghost: #5f6dbc;
// $home--ground: #da7c4d;
// $home--flying: #a1bbec;
// $home--poison: #b763cf;
// $home--bug: #92bc2c;
// $home--water: #539ddf;
// $home--electric: #f2d94e;
// $home--rock: #c9bb8a;
// $home--grass: #5fbd58;
// $home--dark: #595761;
// $home--ice: #75d0c1;
// $home--normal: #a0a29f;
// $home--fire: #fba54c;
// $home--fighting: #d3425f;
// $home--steel: #5695ac;
// $home--psychic: #fa8581;
// $home--fairy: #ee90e6;

// Bulbapedia PKMN Type Colors
// Reference: https://www.epidemicjohto.com/t882-type-colors-hex-colors
$bulba: (
	normal: #a8a77a,
	fire: #ee8130,
	water: #6390f0,
	electric: #f7d02c,
	grass: #7ac74c,
	ice: #96d9d6,
	fighting: #c22e28,
	poison: #a33ea1,
	ground: #e2bf65,
	flying: #a98ff3,
	psychic: #f95587,
	bug: #a6b91a,
	rock: #b6a136,
	ghost: #735797,
	dragon: #6f35fc,
	dark: #705746,
	steel: #b7b7ce,
	fairy: #d685ad,
);
// $bulba--normal: #a8a77a;
// $bulba--fire: #ee8130;
// $bulba--water: #6390f0;
// $bulba--electric: #f7d02c;
// $bulba--grass: #7ac74c;
// $bulba--ice: #96d9d6;
// $bulba--fighting: #c22e28;
// $bulba--poison: #a33ea1;
// $bulba--ground: #e2bf65;
// $bulba--flying: #a98ff3;
// $bulba--psychic: #f95587;
// $bulba--bug: #a6b91a;
// $bulba--rock: #b6a136;
// $bulba--ghost: #735797;
// $bulba--dragon: #6f35fc;
// $bulba--dark: #705746;
// $bulba--steel: #b7b7ce;
// $bulba--fairy: #d685ad;
